
@use "~igniteui-angular/theming" as *;
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: palette($primary, $secondary);

/* autoprefixer grid: on */

@include core();
@include typography($font-family: $material-typeface, $type-scale: $material-type-scale);
@include theme($default-palette);
// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
@import "app/themes.scss";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    color: white !important;
    background-color: $accent-color;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
}

table {
    color: white !important;
    padding: 2em;
    thead {
        background-color: $nav-bg-color;
    }
}

.app-button {
    background-color: $nav-bg-color !important;
    color: white;
    &:hover {
        background-color: $hover-color !important;
    }
}
