<div>
    <table class="table">
        <thead>
            <tr>
                <th>Cast</th>
                <th>Language</th>
                <th>Genre</th>
                <th>No. Of Locations</th>
                <th>View detailsx</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of persons">
                <td>{{ person.id }}</td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.lastName }}</td>
                <td><button class="btn app-button" (click)="viewDetails(person.id)">Details</button></td>
            </tr>
        </tbody>
    </table>
</div>