<div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cast</th>
                <th>Language</th>
                <th>Genre</th>
                <th>No. Of Locations</th>
                <th>View detailsx</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movieList">
                <td>{{ movie.name }}</td>
                <td>{{ movie.cast }}</td>
                <td>{{ movie.language }}</td>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.noOfLocationsForBooking }}</td>
                <td><button class="btn app-button" (click)="viewDetails(movie.id)">Details</button></td>
                <td><button class="btn app-button" (click)="editMovie(movie.id)">Edit Movie</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button (click)="addMovie()" class="app-button">Add Movie</button>
</div>